# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
*.egg

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook
.ipynb_checkpoints/

# dotenv
.env